* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 1em;
}

body {
    font-family: "Dosis", sans-serif;
    background-color: rgba(221, 219, 219, 1);
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 8em;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #fff;
}

.hovedmenu a {
    padding: 2em 20px 2em 2em;
}

img {
    width: 100%;
    border-radius: 10px;
}

.column {
    flex-basis: 350px;
    flex-grow: 1;
    padding: 1em;
}

/***** NAVIGATION *****/

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;
    background-color: rgba(150, 70, 78, 1);
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
}

/***** KONTAKT *****/

#kontakt {
    justify-content: center;
    padding: 1.5em;
    background-color: rgba(150, 70, 78, 1);
    color: #fff;
}

.mail {
    width: 15vw;
    height: 15vw;
}

/***** FOOTER *****/

footer {
    padding: 2em;
    background-color: rgba(150, 70, 78, 0.7);
    text-align: center;
}

.copyright {
    color: #fff;
}

/***** HEADERE *****/

h1 {
    font-weight: 400;
    font-size: 2.5em;
    padding: 0.3em 0.3em 0em 20px;
    margin: 0;
    text-transform: capitalize;
    color: #fff;
}

h2 {
    font-weight: 400;
    font-size: 2em;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

h2.projektnavn {
    font-weight: 600;
    font-size: 1.5em;
    padding: 0 0 1em 0;
    color: rgb(150, 70, 78);
}

h3 {
    font-weight: 100;
    font-size: 1.3em;
    text-transform: uppercase;
}

h3.projektnavn {
    font-weight: 100;
    font-size: 0.9em;
    padding-top: 0.1em;
    /*    text-transform: capitalize;*/
    color: #fff;
}

h3.underpunkt {
    padding: 0.7em 0 0 0.7em;
}

h4 {
    font-weight: 100;
    font-size: 0.7em;
    padding: 0 0 0 20px;
    color: #fff;
}

h4.underpunkt {
    font-size: 1em;
    font-weight: 500;
    padding: 0.9em 0 0 0.9em;
    color: rgb(150, 70, 78);
    text-transform: uppercase;
}

h5 {
    font-weight: 100;
    font-size: 1em;
    color: black;
    padding: 0.9em 0 0 0.9em;
}

h5.underpunkt {
    padding: 1em 0;
}

/*
p {
    padding: 1em;
}
*/

/***** FORSIDE *****/

#preview {
    justify-content: center;
}

#preview-menu {
    width: 550px;
    height: 500px;
    overflow: hidden;
}

.preview-slides {
    display: block;
    width: 6000px;
    height: 501px;
    margin: 0;
    padding: 0;
}

.slide {
    float: left;
    list-style-type: none;
    width: 550px;
    height: 500px;
}

/*
#preview-container {
    width: 50vw;
    height: 50vw;
    background-image: url(images/Macbook-Flat-Mockup.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
*/

/***** OM *****/

/*
#om {
    background-image: url(images/Macbook-Flat-Mockup.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.om {
    color: white;
}

.om-tekst {
    color: white;
}
*/

/**** PROJEKTER *****/

#projekter {
    justify-content: center;
}

.projekt {
    flex-basis: 33%;
    flex-grow: 1;
    height: 100%;
    width: 250px;
    margin: 0.5em;
    position: relative;
    transition: opacity .6s ease-in;
}

.projekt:hover img {
    opacity: 0.9;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 77%;
    top: -10.67em;
    border-radius: 10px;
}

/*

.overlay:hover {
        opacity: 0;
        display: none;
}
*/

.tekst {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 77%;
    top: -10.67em;
    border-radius: 10px;
    opacity: 0;
}

.tekst:hover {
    opacity: 1;
    transition: opacity .2s ease-in;
}

/***** PROJEKTSIDER *****/

.introduktion,
.proces,
.resultat,
.evaluering {
    display: block;
    padding: 0;
}

.column-wrapper {
    display: flex;
}

.billede {
    padding: 1em;
}

.flex_billeder {
    flex-basis: 250px;
    flex-grow: 1;
    padding: 0.8em;
    width: 1vw;
}

.flex_billeder2 {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 0.8em;
    width: 1vw;
}

.projektbillede {
    width: 100%;
    padding: 1em;
}

.billede_wrapper {
    display: flex;
    flex-wrap: wrap;
}



/***** MEDIAQUIERIES *****/

@media screen and (max-width:650px) {
    header {
        justify-content: center;
    }
    section {
        padding-top: 11em;
    }
    .hovedmenu a {
        padding: 1em;
    }

}

@media screen and (max-width:650px) {
    header {
        justify-content: center;
    }

}

/***** projekter.html *****/

/*** Størrelse på projekt-container - iPhone ***/

@media screen and (max-width:800px) {

    .projekt {
        width: 90vw;
    }

    .tekst {
        top: -60.6vw;
        height: 89.5%;
    }

    .flex_billeder {
        flex-basis: 400px;
    }
}


/*** 2. hover tekst ***/

@media screen and (max-width:700px) {
    .tekst,
    .overlay {
        top: -60.6vw;
        height: 89%;
    }
}

@media screen and (max-width:650px) {
    .tekst,
    .overlay {
        top: -60.6vw;
        height: 88%;
    }
}

@media screen and (max-width:600px) {
    .tekst,
    .overlay {
        top: -60.6vw;
        height: 87%;
    }
}

@media screen and (max-width:550px) {
    .tekst,
    .overlay {
        top: -60.9vw;
        height: 86.2%;
    }
}

@media screen and (max-width:500px) {
    .tekst,
    .overlay {
        top: -60.9vw;
        height: 85.2%;
    }
}

@media screen and (max-width:450px) {
    .tekst,
    .overlay {
        top: -60.9vw;
        height: 84%;
    }
}

@media screen and (max-width:400px) {
    .tekst,
    .overlay {
        top: -61.2vw;
        height: 83%;
    }
}
