* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 1em;
}

body {
    font-family: "Dosis",
    sans-serif;

    font-size: 1.2vw;
    background-image: url(images/notebook-2672549_1920.jpg);
    color: #fff;
}

section {
    max-width: 950px;
    margin: 0vw auto 5vw auto;
    padding-top: 12vw;
    padding-bottom: 4vw;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #fff;
}

.hovedmenu a {
    padding: 2em 20px 2em 2em;
}

img {
    width: 100%;
    border-radius: 10px;
}

.lille {
    width: 50%;
    align-items: center;
}

.lille2 {
    width: 10vw;
}

.link:hover {
    opacity: 0.6;
}

.column {
    flex-basis: 350px;
    flex-grow: 1;
    padding: 1vw;
}

.column_center {
    flex-basis: 250px;
    flex-grow: 1;
    text-align: center;
}

/***** NAVIGATION *****/

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;
    background-color: rgba(150, 70, 78, 0.9);
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
}

/***** KONTAKT *****/

#kontakt {
    justify-content: center;
    padding: 1.5em;
    background-color: rgba(150, 70, 78, 0.7);
    color: #fff;
}

.mail {
    width: 15vw;
    height: 15vw;
}

/***** FOOTER *****/

footer {
    padding: 2em;
    /*    background-color: rgba(150, 70, 78, 0.7);*/
    text-align: center;
}

.copyright {
    color: #fff;
}

/***** HEADERE *****/

h1 {
    font-weight: 400;
    font-size: 5vw;
    padding: 0.3em 0.3em 0em 20px;
    margin: 0;
    text-transform: capitalize;
    color: #fff;
}

h2 {
    font-weight: 400;
    font-size: 4vw;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

h2.tema {
    font-size: 6vw;
}

h2.velkommen {
    font-size: 3vw;
    padding-bottom: 0;
}

h2.projektnavn {
    font-weight: 600;
    font-size: 7vw;
    padding: 0 0 1em 0;
    color: rgb(150, 70, 78);
}


h3 {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
    padding-top: 50px;
}

h3.emne {
    font-size: 1.5em;
}

h3.projektnavn {
    font-weight: 100;
    font-size: 0.9em;
    padding-top: 0.1em;
    color: #fff;
}

h3.underpunkt {
    padding: 0.7em 0 0.7em 0.7em;
    border-bottom: solid;
    width: 100%;
}

h4 {
    font-weight: 100;
    font-size: 1.5vw;
    padding: 0 0 0 20px;
    color: #fff;
    text-transform: uppercase;
}

h4.cv {
    font-weight: 100;
    font-size: 1.8vw;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}

h4.underpunkt {
    font-size: 1.5em;
    font-weight: 500;
    padding: 2.5em 0 0 1em;
    color: rgb(150, 70, 78);
    text-transform: uppercase;
}

h4.underpunkt_stilart {
    font-size: 1em;
    font-weight: 500;
    padding: 0;
    color: rgb(150, 70, 78);
    text-transform: uppercase;
    text-align: center;
}

h4.link {
    font-size: 1.5vw;
    font-weight: 500;
    padding: 10px;
    background-color: rgba(150, 70, 78, 0.7);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(150, 70, 78);
    text-align: center;
    text-transform: uppercase;
}

h4.link:hover {
    opacity: 0.6;
}

h4.test {
    font-weight: 500;
    padding: 1vw;
    text-align: center;
    color: rgb(150, 70, 78);
}

h5 {
    font-weight: 100;
    font-size: 1em;
    color: black;
    padding: 0.9em 0 0 0.9em;
}

h5.nav {
    color: #fff;
    padding: 0;
    font-size: 2vw;
}

h5.underpunkt {
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(150, 70, 78);
}

h5.underpunkt2 {
    padding: 1em;
    text-transform: uppercase;
    color: rgb(150, 70, 78);
}

h5.link {
    color: rgb(150, 70, 78);
    text-transform: uppercase;
    text-align: center;
}

p {
    line-height: 30px;
    color: black;
    font-size: 1.2vw;
}

p.cv {
    color: white;
}

ul.cv {
    list-style-type: none;
    padding: 1vw 0 0 0;
}

ul.cv li {
    color: white;
}

ul li {
    padding: 0.5vw;
    color: black;
}

ul li.cv {
    padding: 0;
}

/***** FORSIDE *****/

#preview {
    justify-content: center;
}

#preview-menu {
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.preview-slides {
    display: block;
    width: 8000px;
    margin: 0;
    padding: 0;
}

.slide {
    float: left;
    list-style-type: none;
    width: 600px;
    height: 400px;
}

.slide img {
    border-radius: 0;
}

.slide img:hover {
    opacity: 0.9;
}


.preview_tekst {
    display: inline;
    /*    background: rgba(0, 0, 0, 0.4);*/
    color: rgb(150, 70, 78);
    text-align: center;
    width: 400px;
    height: 270px;
    border-radius: 10px;
    /*    opacity: 0;*/
    position: absolute;
    top: 23vw;
    left: 31.5vw;

}

.preview_tekst:hover {
    opacity: 1;
    transition: opacity .2s ease-in;
}

/***** OM *****/

/* TIDSLINJE */

/* Linjen */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(150, 70, 78);
    top: 0;
    bottom: 0;
    left: 25%;
    margin-left: -3px;
}

/* Container til indhold */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 75%;
}

/* Cirkler */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -16px;
    background-color: rgb(232, 215, 212);
    border: 4px solid rgb(150, 70, 78);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Container til højre */

.right {
    left: 25%;
}

/* Pile */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: 5px solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(232, 215, 212) transparent transparent;
}

/* Indhold */

.content {
    padding: 20px 30px;
    background-color: rgb(232, 215, 212);
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media all and (max-width: 900px) {
    /* linje til venstre */
    .timeline::after {
        left: 31px;
    }

    /* container */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* pile */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(232, 215, 212) transparent transparent;
    }

    /* Cirkler */
    .right::after {
        left: 15px;
    }

    /* Flytter mod venstre */
    .right {
        left: 0%;
    }
}

/*
#om {
    background-image: url(images/Macbook-Flat-Mockup.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.om {
    color: white;
}
.om-tekst {
    color: white;
}
*/

/**** PROJEKTER *****/

#projekter {
    justify-content: center;
}

.projekt {
    display: inline;
    width: 220px;
    margin: 0.5em;
    border-style: solid;
    border-color: rgba(232, 215, 212, 1);
    border-radius: 10px;
    position: relative;
    transition: opacity .6s ease-in;
}

.projekt:hover img {
    opacity: 0.9;
}

.tekst {
    display: inline;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

}

.tekst:hover {
    opacity: 1;
    transition: opacity .2s ease-in;
}

/***** PROJEKTSIDER *****/

.introduktion,
.proces,
.resultat,
.evaluering,
.kilder {
    display: block;
    padding: 0;
    background-color: rgba(232, 212, 212, 0.8);
}

#preview,
#om,
#projekter,
#kilder {
    background-color: rgba(232, 212, 212, 0.8)
}

.column-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.billede {
    padding: 1em;
    text-align: center;
}

.flex_billeder {
    flex-basis: 250px;
    flex-grow: 1;
    padding: 0.8em;
    width: 1vw;
}

.flex_billeder2 {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 0.8em;
    width: 1vw;
}

.projektbillede {
    width: 100%;
    padding: 1em;
    text-align: center;
}

.billede_wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* ANIMATION */

#pindsvin,
#regnorm {
    transform: rotate(90deg);
}

.payoff {
    height: 38vw;
}

.skitse {
    transform: rotate(90deg);
    padding: 2vw;

}

/* VIDEO */

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;

}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /*            16: 9 Aspect Ratio */
    padding-top: 25px;
}

#bert {
    text-align: center;
}

#grafik_redesign {
    background-color: rgba(150, 70, 78, 0.5);
    margin: 4vw;
}

#grafik1,
#grafik2,
#grafik3,
#grafik4,
#grafik5,
#grafik6,
#grafik7,
#grafik8 {
    align-self: flex-end;
}

#layoutdiagram_redesign {
    flex-basis: 100px;
}

.kildeliste {
    text-transform: uppercase;
}

.kildeliste li {
    color: white;
}

/***** MEDIAQUIERIES ****/

@media screen and (max-width:950px) {
    header {
        justify-content: center;
    }

    nav {
        flex-basis: 500px;
        justify-content: center;
    }

    .hovedmenu a {
        padding: 1em;
    }

    section {
        padding-top: 25vw;
    }

}

/*** ANIMATIONER ***/

/***** projekter.html *****/

/*** Størrelse på projekt-container og størrelse på billeder samt hovedmenu - mobile-version ***/

@media screen and (max-width:950px) {

    .projekt {
        width: 90vw;
    }

    .flex_billeder {
        flex-basis: 400px;
    }

    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 8vw;
    }

    h2.tema {
        padding-top: 10vw;
    }

    h2.projektnavn {
        font-size: 5vw;
        padding: 0;
    }

    h2.velkommen {
        font-size: 5vw;
        padding-top: 10vw;
    }

    h3,
    h3.emne {
        font-size: 10vw;
        padding-top: 20vw;

    }

    h3.projektnavn {
        font-size: 5vw;
        padding: 0;
    }

    h3.underpunkt {
        font-size: 5vw;
    }

    h4 {
        font-size: 5vw;
    }

    h4.underpunkt {
        font-size: 3vw;
    }

    h4.link {
        font-size: 3vw;

    }

    h5.underpunkt {
        font-size: 2.5vw;
    }

    h5.nav {
        font-size: 2.5vw;
    }

    .tekst {
        height: 99%;
    }

    body {
        font-size: 1em;
    }



}


@media screen and (max-width:899px) {
    h4.cv {
        font-size: 3vw;

    }
}


@media screen and (max-width: 600px) {

    #preview-menu {
        width: 400px;
        height: 300px;
        overflow: hidden;
    }

    .preview-slides {
        display: block;
        width: 8000px;
        /*    height: 501px;*/
        margin: 0;
        padding: 0;
    }

    .slide {
        float: left;
        list-style-type: none;
        width: 400px;
        height: 300px;
    }
}
